First, you'll work with a dataset containing the number of primary care physicians per county for each county in the United States. It was obtained from the Area Health Resources File, published by the [Health Resources and Services Administration](https://data.hrsa.gov/topics/health-workforce/ahrf). This data is contained in the file `primary_care_physicians.csv`.

Second, the file `population_by_county.csv` contains the Census Bureau's 2019 population estimates for each US County. It also contains a column `urban`. The `urban` column uses data from the National Bureau of Economic Research to classify each county as either urban or rural. The U.S. Office of Management and Budget designates counties as metropolitan (a core urban area of 50,000 or more population), micropolitan (an urban core of at least 10,000 but less than 50,000 population), or neither. Here, a county is considered "urban" if it is part of a metropolitan or micropolitan area and "rural" if it is not.

In [1]:
import pandas as pd

1. First, import the primary care physicians dataset (`primary_care_physicians.csv`) into a data frame named `physicians`. 
 2. Filter `physicians` down to just the counties in Tennessee. Save the filtered dataframe back to `physicians`. Verify that the resulting dataframe has 95 rows.

In [2]:
physicians = pd.read_csv('../data/primary_care_physicians.csv')

In [3]:
physicians.head()

   FIPS    state   county  primary_care_physicians
0  1001  Alabama  Autauga                     26.0
1  1003  Alabama  Baldwin                    153.0
2  1005  Alabama  Barbour                      8.0
3  1007  Alabama     Bibb                     12.0
4  1009  Alabama   Blount                     12.0

In [4]:
physicians = physicians.loc[physicians['state'] == 'Tennessee']

In [5]:
physicians = physicians[['county', 'primary_care_physicians']]

In [6]:
physicians

          county  primary_care_physicians
2432    Anderson                     39.0
2433     Bedford                     15.0
2434      Benton                      3.0
2435     Bledsoe                      1.0
2436      Blount                     90.0
...          ...                      ...
2522       Wayne                      5.0
2523     Weakley                     18.0
2524       White                      9.0
2525  Williamson                    338.0
2526      Wilson                     43.0

[95 rows x 2 columns]

Look at the distribution of the number of primary care physicians. What do you notice?

In [7]:
physicians['primary_care_physicians'].value_counts()

2.0      8
5.0      7
9.0      5
0.0      4
12.0     4
4.0      4
18.0     4
1.0      4
3.0      4
21.0     3
6.0      3
15.0     3
19.0     2
14.0     2
26.0     2
23.0     2
38.0     2
8.0      2
39.0     2
22.0     2
55.0     1
806.0    1
13.0     1
91.0     1
520.0    1
27.0     1
53.0     1
11.0     1
137.0    1
82.0     1
199.0    1
52.0     1
90.0     1
403.0    1
16.0     1
40.0     1
37.0     1
7.0      1
30.0     1
226.0    1
338.0    1
10.0     1
43.0     1
129.0    1
665.0    1
17.0     1
Name: primary_care_physicians, dtype: int64

In [8]:
physicians['primary_care_physicians'].nunique()

46

In [9]:
physicians['primary_care_physicians'].unique()

array([ 39.,  15.,   3.,   1.,  90.,  55.,  19.,  12.,  22.,  23.,   4.,
         2.,  16.,  37.,   0.,  40., 665.,   9.,  14.,  10.,  27.,  21.,
        11.,   5.,  38., 403.,  13.,   7.,   6., 520.,  18.,  30.,  26.,
       129.,  53.,  82.,   8.,  52., 137., 806., 199.,  91.,  17., 226.,
       338.,  43.])

In [10]:
physicians.describe()

       primary_care_physicians
count                95.000000
mean                 51.042105
std                 129.311426
min                   0.000000
25%                   4.500000
50%                  12.000000
75%                  26.500000
max                 806.000000

Most TN counties have few physicians

Now, import the population by county dataset (`population_by_county.csv`) into a DataFrame named `population`.
 5. Merge the `physicians` DataFrame with the `population` DataFrame. Keep only the values for Tennessee. When you merge, be sure the include both the `population` and `urban` columns in the merged results. Save the result of the merge back to `physicians`.
 6. How many Tennessee counties are considered urban?

In [11]:
population = pd.read_csv('../data/population_by_county.csv')

In [12]:
population

       FIPS  population           county       state  urban
0     17051       21565   Fayette County    ILLINOIS  Rural
1     17107       29003     Logan County    ILLINOIS  Rural
2     17165       23994    Saline County    ILLINOIS  Rural
3     17097      701473      Lake County    ILLINOIS  Urban
4     17127       14219    Massac County    ILLINOIS  Rural
...     ...         ...              ...         ...    ...
3197  47033       14399  Crockett County   TENNESSEE  Rural
3198  47095        7401      Lake County   TENNESSEE  Rural
3199  47093      461104      Knox County   TENNESSEE  Urban
3200  53005      197518    Benton County  WASHINGTON  Urban
3201  53011      473252     Clark County  WASHINGTON  Urban

[3202 rows x 5 columns]

In [13]:
population['county'].str.split(' County', expand = True)

             0 1
0      Fayette
1        Logan
2       Saline
3         Lake
4       Massac
...        ... ..
3197  Crockett
3198      Lake
3199      Knox
3200    Benton
3201     Clark

[3202 rows x 2 columns]

In [14]:
population['county']=population['county'].str.split(' County', expand = True)[0]

In [15]:
population

       FIPS  population    county       state  urban
0     17051       21565   Fayette    ILLINOIS  Rural
1     17107       29003     Logan    ILLINOIS  Rural
2     17165       23994    Saline    ILLINOIS  Rural
3     17097      701473      Lake    ILLINOIS  Urban
4     17127       14219    Massac    ILLINOIS  Rural
...     ...         ...       ...         ...    ...
3197  47033       14399  Crockett   TENNESSEE  Rural
3198  47095        7401      Lake   TENNESSEE  Rural
3199  47093      461104      Knox   TENNESSEE  Urban
3200  53005      197518    Benton  WASHINGTON  Urban
3201  53011      473252     Clark  WASHINGTON  Urban

[3202 rows x 5 columns]

In [16]:
population = population.loc[population['state'] == 'TENNESSEE']

In [17]:
population

       FIPS  population     county      state  urban
283   47165      183437     Sumner  TENNESSEE  Urban
284   47169       10231  Trousdale  TENNESSEE  Urban
285   47027        7654       Clay  TENNESSEE  Rural
405   47157      936374     Shelby  TENNESSEE  Urban
406   47077       27977  Henderson  TENNESSEE  Rural
...     ...         ...        ...        ...    ...
3195  47123       46064     Monroe  TENNESSEE  Rural
3196  47079       32284      Henry  TENNESSEE  Rural
3197  47033       14399   Crockett  TENNESSEE  Rural
3198  47095        7401       Lake  TENNESSEE  Rural
3199  47093      461104       Knox  TENNESSEE  Urban

[95 rows x 5 columns]

In [18]:
population['state'].str.replace('TENNESSEE', 'Tennessee')

283     Tennessee
284     Tennessee
285     Tennessee
405     Tennessee
406     Tennessee
          ...
3195    Tennessee
3196    Tennessee
3197    Tennessee
3198    Tennessee
3199    Tennessee
Name: state, Length: 95, dtype: object

In [19]:
merge = pd.merge(left = population[['population', 'county', 'state', 'urban']],
         right = physicians[['county', 'primary_care_physicians']])

In [20]:
merge

    population     county      state  urban  primary_care_physicians
0       183437     Sumner  TENNESSEE  Urban                     91.0
1        10231  Trousdale  TENNESSEE  Urban                      2.0
2         7654       Clay  TENNESSEE  Rural                      2.0
3       936374     Shelby  TENNESSEE  Urban                    806.0
4        27977  Henderson  TENNESSEE  Rural                      7.0
..         ...        ...        ...    ...                      ...
90       46064     Monroe  TENNESSEE  Rural                      9.0
91       32284      Henry  TENNESSEE  Rural                     22.0
92       14399   Crockett  TENNESSEE  Rural                      0.0
93        7401       Lake  TENNESSEE  Rural                      0.0
94      461104       Knox  TENNESSEE  Urban                    520.0

[95 rows x 5 columns]

In [21]:
physicians = merge

In [22]:
physicians

    population     county      state  urban  primary_care_physicians
0       183437     Sumner  TENNESSEE  Urban                     91.0
1        10231  Trousdale  TENNESSEE  Urban                      2.0
2         7654       Clay  TENNESSEE  Rural                      2.0
3       936374     Shelby  TENNESSEE  Urban                    806.0
4        27977  Henderson  TENNESSEE  Rural                      7.0
..         ...        ...        ...    ...                      ...
90       46064     Monroe  TENNESSEE  Rural                      9.0
91       32284      Henry  TENNESSEE  Rural                     22.0
92       14399   Crockett  TENNESSEE  Rural                      0.0
93        7401       Lake  TENNESSEE  Rural                      0.0
94      461104       Knox  TENNESSEE  Urban                    520.0

[95 rows x 5 columns]

In [23]:
urban_count = physicians.loc[physicians['urban'] == 'Urban']

In [24]:
urban_count['urban'].value_counts()

Urban    38
Name: urban, dtype: int64

How many Tennessee counties are considered urban?

38 counties are considered urban

In [25]:
rural_count = physicians.loc[physicians['urban'] == 'Rural']

In [26]:
rural_count['urban'].value_counts()

Rural    57
Name: urban, dtype: int64

The State Health Access Data Assistance Center (SHADAC) (https://www.shadac.org/) classifies counties into three groups based on the number of residents per primary care physician. First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply. Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply. How many counties in Tennessee are in each group? 
 8. Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?

In [27]:
ratio = physicians['population'] / physicians['primary_care_physicians']

In [28]:
ratio

0     2015.791209
1     5115.500000
2     3827.000000
3     1161.754342
4     3996.714286
         ...
90    5118.222222
91    1467.454545
92            inf
93            inf
94     886.738462
Length: 95, dtype: float64

In [29]:
adequate = physicians.loc[physicians['population'] / physicians['primary_care_physicians'] <= 1500]

In [30]:
adequate.shape

(14, 5)

In [31]:
moderately_inadequate = physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] >= 1500) &
                                       (physicians['population'] / physicians['primary_care_physicians'] < 3500)]

In [32]:
moderately_inadequate.shape

(50, 5)

In [33]:
low_inadequate = physicians.loc[physicians['population'] / physicians['primary_care_physicians'] >= 3500]

In [34]:
low_inadequate.shape

(31, 5)

How many counties in Tennessee are in each group? 
There are 14 adequate, 50 moderately inadequate, and 31 low inadequate

Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?

In [35]:
urban_count

    population      county      state  urban  primary_care_physicians
0       183437      Sumner  TENNESSEE  Urban                     91.0
1        10231   Trousdale  TENNESSEE  Urban                      2.0
3       936374      Shelby  TENNESSEE  Urban                    806.0
5        53679   Jefferson  TENNESSEE  Urban                     21.0
6        14816  Sequatchie  TENNESSEE  Urban                      5.0
8       687488    Davidson  TENNESSEE  Urban                    665.0
12      200180  Montgomery  TENNESSEE  Urban                     82.0
18       61447      Tipton  TENNESSEE  Urban                     17.0
20      360919    Hamilton  TENNESSEE  Urban                    403.0
21       16814        Polk  TENNESSEE  Urban                      8.0
23      157050    Sullivan  TENNESSEE  Urban                    199.0
28       76061    Anderson  TENNESSEE  Urban                     39.0
32       52340      Loudon  TENNESSEE  Urban                     30.0
33      315815  Rutherford  TENNESSEE  Urban                    137.0
34       19740       Smith  TENNESSEE  Urban                      9.0
35      136666      Wilson  TENNESSEE  Urban                     43.0
36       17811      Unicoi  TENNESSEE  Urban                      6.0
38      127805  Washington  TENNESSEE  Urban                    226.0
43       14178      Cannon  TENNESSEE  Urban                      3.0
47       40164     Fayette  TENNESSEE  Urban                     15.0
49       56611     Hawkins  TENNESSEE  Urban                     15.0
52       23842       Macon  TENNESSEE  Urban                      4.0
54       70280   Robertson  TENNESSEE  Urban                     26.0
56      129927      Blount  TENNESSEE  Urban                     90.0
57       40181    Cheatham  TENNESSEE  Urban                     23.0
58       56433      Carter  TENNESSEE  Urban                     22.0
59       23101    Grainger  TENNESSEE  Urban                      5.0
63       97625     Madison  TENNESSEE  Urban                    129.0
64       28538      Marion  TENNESSEE  Urban                     12.0
68      225389  Williamson  TENNESSEE  Urban                    338.0
74       24813     Hickman  TENNESSEE  Urban                      5.0
78       13427     Stewart  TENNESSEE  Urban                      1.0
79       17190     Chester  TENNESSEE  Urban                      4.0
84      105749     Bradley  TENNESSEE  Urban                     55.0
85       64132     Hamblen  TENNESSEE  Urban                     38.0
86       19488       Union  TENNESSEE  Urban                      3.0
88       52680     Dickson  TENNESSEE  Urban                     19.0
94      461104        Knox  TENNESSEE  Urban                    520.0

In [36]:
rural_count

    population      county      state  urban  primary_care_physicians
2         7654        Clay  TENNESSEE  Rural                      2.0
4        27977   Henderson  TENNESSEE  Rural                      7.0
7        27886     Carroll  TENNESSEE  Rural                     12.0
9         7962       Perry  TENNESSEE  Rural                      2.0
10       12104       Meigs  TENNESSEE  Rural                      6.0
11       17623     Haywood  TENNESSEE  Rural                      5.0
13       13344      Grundy  TENNESSEE  Rural                      0.0
14       35552       Cocke  TENNESSEE  Rural                     16.0
15       19847      DeKalb  TENNESSEE  Rural                      9.0
16       12027       Lewis  TENNESSEE  Rural                      2.0
17       30365       Obion  TENNESSEE  Rural                     14.0
19       37416        Dyer  TENNESSEE  Rural                     14.0
22       26800       White  TENNESSEE  Rural                      9.0
24       53053      McMinn  TENNESSEE  Rural                     26.0
25       32965    Marshall  TENNESSEE  Rural                      5.0
26       32719        Rhea  TENNESSEE  Rural                     12.0
27       21969       Scott  TENNESSEE  Rural                      8.0
29       18213    Fentress  TENNESSEE  Rural                     10.0
30       49228      Gibson  TENNESSEE  Rural                     21.0
31       25443    Hardeman  TENNESSEE  Rural                      4.0
37       40702      Warren  TENNESSEE  Rural                     21.0
39       33510     Weakley  TENNESSEE  Rural                     18.0
40       16140      Benton  TENNESSEE  Rural                      3.0
41       14836     Bledsoe  TENNESSEE  Rural                      1.0
42       39797    Campbell  TENNESSEE  Rural                     19.0
44        8164     Houston  TENNESSEE  Rural                      2.0
45       91976       Maury  TENNESSEE  Rural                     53.0
46       55209      Coffee  TENNESSEE  Rural                     37.0
48        6587     Hancock  TENNESSEE  Rural                      1.0
50       17753     Johnson  TENNESSEE  Rural                      6.0
51       33924     Lincoln  TENNESSEE  Rural                     18.0
53        6378       Moore  TENNESSEE  Rural                      1.0
55       41725    Franklin  TENNESSEE  Rural                     27.0
60       29285       Giles  TENNESSEE  Rural                     11.0
61       25989  Lauderdale  TENNESSEE  Rural                      2.0
62       43390    Lawrence  TENNESSEE  Rural                     18.0
65       22068     Overton  TENNESSEE  Rural                     12.0
66        5079     Pickett  TENNESSEE  Rural                      2.0
67       16693       Wayne  TENNESSEE  Rural                      5.0
69       48292     Bedford  TENNESSEE  Rural                     15.0
70       68834      Greene  TENNESSEE  Rural                     39.0
71       59216  Cumberland  TENNESSEE  Rural                     40.0
72        5760   Van Buren  TENNESSEE  Rural                      0.0
73       31732   Claiborne  TENNESSEE  Rural                     23.0
75       18435   Humphreys  TENNESSEE  Rural                      5.0
76       77447      Putnam  TENNESSEE  Rural                     52.0
77       97068      Sevier  TENNESSEE  Rural                     38.0
80       11686     Decatur  TENNESSEE  Rural                      4.0
81       11682     Jackson  TENNESSEE  Rural                      2.0
82       25844     McNairy  TENNESSEE  Rural                      9.0
83       53075       Roane  TENNESSEE  Rural                     18.0
87       25715      Hardin  TENNESSEE  Rural                     13.0
89       21545      Morgan  TENNESSEE  Rural                      3.0
90       46064      Monroe  TENNESSEE  Rural                      9.0
91       32284       Henry  TENNESSEE  Rural                     22.0
92       14399    Crockett  TENNESSEE  Rural                      0.0
93        7401        Lake  TENNESSEE  Rural                      0.0

Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?

Based on these data, the only way to detect if a county is likely to be urban is if there are more than 53 physicians available.